     .body{
     	margin: 0;
     	padding: 0;
     }
     .wrap-1 
	   {
		   width:1000px;
		   height:360px;
		  margin:5px auto;/*外边框 上下 左右（自动计算）
		   /*css3 盒子阴影 X位移 Y位移 羽化与半径 颜色*/
		 margin-left: 40px;
	 box-shadow:0 0 100px #3366cc inset;
		}
		
	.col-1{
		width:1000px;
		height: 35px;
		line-height: 40px;
		font-size:20px;
	    font-family:'微软雅黑','宋体',sans-serif;
        height:40px;
        color:#FF8500;
        background: #6666ff;
	}
		
table{
	margin-top: 5px;
	margin-left: 40px;
	width:900px;
	 border:0;
	 cellspacing:0;
	 cellpadding:0;
	 align:center;
}
table td{
padding:5px;
}
.wrap-2 
	   {
		   width:1000px;
		   height:300px;
		  margin:20px auto;/*外边框 上下 左右（自动计算）
		   /*css3 盒子阴影 X位移 Y位移 羽化与半径 颜色*/
		 margin-left: 40px;
	 box-shadow:0 0 100px #3366cc inset;
		}


   .wrap-5 
	   {
		   width:1000px;
		   height:480px;
		  margin:5px auto;/*外边框 上下 左右（自动计算）
		   /*css3 盒子阴影 X位移 Y位移 羽化与半径 颜色*/
		 margin-left: 40px;
	 box-shadow:0 0 100px #3366cc inset;
		}


 .wrap-3
	   {
	   	   float: left;
		   width:480px;
		   height:300px;
		  margin:20px auto;/*外边框 上下 左右（自动计算）
		   /*css3 盒子阴影 X位移 Y位移 羽化与半径 颜色*/
		  margin-top:20px;
		 margin-left: 40px;
	 box-shadow:0 0 100px #3366cc inset;
		}
.wrap-4
	   {
	   	   float: right;
		   width:480px;
		   height:300px;
		  margin:20px auto;/*外边框 上下 左右（自动计算）
		   /*css3 盒子阴影 X位移 Y位移 羽化与半径 颜色*/
		  margin-top:20px;
		 margin-left: 40px;
	 box-shadow:0 0 100px #3366cc inset;
		}
.col-2{
		width:480px;
		height: 35px;
		line-height: 40px;
		font-size:20px;
	    font-family:'微软雅黑','宋体',sans-serif;
        height:40px;
        color:#FF8500;
        background: #6666ff;
	}