{% load static %}
<div>
     <section class="gallery-wrapper">
		<article class="white-panel">
			<img src="https://media.licdn.com/dms/image/C4D03AQFmHXMLP73r6A/profile-displayphoto-shrink_800_800/0?e=1559174400&v=beta&t=HuYWB4Ohh94w99KthZLKiIozlQSez7eyade7YjcTyMs
" class="thumb">
			<h1><a href="https://www.linkedin.com/in/allen-wu-124844139/" target="_blank">Allen Wu</a></h1>
            <p>AC at ManGo Associates</p>
	  		<p>公司位置：中国 四川 成都</p>
		</article>

		<article class="white-panel">
			<img src="{% static "images/linkedin/f971fec04edc11e9abd92c4d5453d6fe.jpg" %}" class="thumb">
			<h1><a href="https://www.linkedin.com/in/inditech/"target="_blank">Charles Allen</a></h1>
	  		<p>Internet Marketer at Allen Smart Media</p>
            <p>公司位置：Townsville Area, Australia</p>
            <p>目前就职: Allen Smart Media - Internet Marketer</p>
		</article>

		<article class="white-panel">
			<img src="{% static "images/team3.jpg" %}" class="thumb">
			<h1><a href="https://www.linkedin.com/in/allen-46132511a/" target="_blank">Allen</a></h1>
	  		<p>公司位置：中国 四川 成都</p>
            <p>目前就职:猎头顾问</p>
		</article>

		<article class="white-panel">
			<img src="{% static "images/team4.jpg" %}" class="thumb">
			<h1><a href="https://www.linkedin.com/in/allen-zheng-8442bb154/" target="_blank">Allen Zheng</a></h1>
	  		<p>公司位置：中国 四川 成都</p>
            <p>KA Account Manager</p>
		</article>

		<article class="white-panel">
			<img src="{% static "images/team1.jpg" %}" class="thumb">
			<h1><a href="https://www.linkedin.com/in/mike-allen-b2a1791b/" target="_blank">Mike Allen</a></h1>
	  		<p>公司位置：美国 华盛顿都会区</p>
            	<p>Co-Founder and Executive Editor at Axios</p>

		</article>

		<article class="white-panel">
			<img src="{% static "images/linkedin/f985fbf04edc11e9bf3f2c4d5453d6fe.jpg" %}" class="thumb">
			<h1><a href="https://www.linkedin.com/in/davegallen/" target="_blank">Dave Allen</a></h1>
	  		<p>Director, Artist Advocacy at North Music</p>
            <p>公司位置：美国 俄勒冈州 波特兰</p>
		</article>

		<article class="white-panel">
			<img src="{% static "images/1.jpg" %}" class="thumb">
			<h1><a href="https://www.linkedin.com/in/wanquan-an-a90a05122/" target="_blank">wanquan An</a></h1>
	  		<p>华为 - SSD planning</p>
            <p>公司位置：中国 四川 成都</p>
		</article>

		<article class="white-panel">
			<img src="{% static "images/team2.jpg" %}" class="thumb">
			<h1><a href="https://www.linkedin.com/in/allen-liu-237090b4/" target="_blank">Allen Liu</a></h1>
	  		<p>Testing Management</p>
            <p>公司位置：中国 四川 成都</p>
		</article>

		<article class="white-panel">
			<img src="{% static "images/linkedin/f99c91304edc11e9bd042c4d5453d6fe.jpg" %}" class="thumb">
			<h1><a href="https://www.linkedin.com/in/allencoder/" target="_blank">Allen Lin</a></h1>
	  		<p>Department Manager at Huawei Technologies</p>
            <p>公司位置：中国 四川 成都</p>
		</article>

		<article class="white-panel">
			<img src="{% static "images/1024.jpg" %}" class="thumb">
			<h1><a href="https://www.linkedin.com/in/%E7%B4%A0-%E4%B9%A0-195654131/" target="_blank">习素</a></h1>
	  		<p>财务总监、董事兼董事会秘书 - 成都紫极伟业科技股份有限公司</p>
            <p>公司位置：中国 四川 成都</p>
		</article>

		<article class="white-panel">
			<img src="{% static "images/linkedin/f9cc53c04edc11e99d9c2c4d5453d6fe.jpg" %}" class="thumb">
			<h1><a href="https://www.linkedin.com/in/allen-qian-shanghai/" target="_blank">Allen QIAN</a></h1>
	  		<p>Strategic Investment, SenseTime 商汤 | SAIF MF (2018-2020) | TMT-related Investment | Amateur Song Writer</p>
            <p>公司位置：中国 上海</p>
		</article>

		<article class="white-panel">
			<img src="{% static "images/team2.jpg" %}" class="thumb">
			<h1><a href="https://www.linkedin.com/in/%E7%A7%80%E6%89%8D-%E5%BC%A0-08971b113/" target="_blank">张秀才</a></h1>
	  		<p>四川三思德科技有限公司 - CEO</p>
            <p>公司位置：中国 四川 成都</p>
		</article>

		<article class="white-panel">
			<img src="{% static "images/11.jpg" %}" class="thumb">
			<h1><a href="https://www.linkedin.com/in/%E4%BA%9A%E9%BE%99-%E9%82%B9-52002610b/">邹亚龙</a></h1>
	  		<p>字节跳动 - 后端研发工程师</p>
            <p>公司位置：中国 四川 成都</p>
		</article>

		<article class="white-panel">
			<img src="{% static "images/12.jpg" %}" class="thumb">
			<h1><a href="https://www.linkedin.com/in/allen-xiu-121b9783/" target="_blank">Allen Xiu</a></h1>
	  		<p>--Senior Consultant at Careerfocus</p>
            <p>公司位置：中国 四川 成都</p>
		</article>
		<article class="white-panel">
			<img src="{% static "images/team2.jpg" %}" class="thumb">
			<h1><a href="https://www.linkedin.com/in/allen-alradi-043663141/" target="_blank">allen ALRADI</a></h1>
	  		<p>English Teacher at ABIE</p>
            <p>公司位置：中国 四川 成都</p>
		</article>

         	<article class="white-panel">
			<img src="{% static "images/linkedin/fb3496514edc11e9801e2c4d5453d6fe.jpg" %}" class="thumb">
			<h1><a href="https://www.linkedin.com/in/allen-jiang-61344b67/" target="_blank">Allen Jiang</a></h1>
	  		<p>Founder</p>
                <p>公司位置：中国 四川 成都</p>
		</article>

         	<article class="white-panel">
			<img src="{% static "images/team2.jpg" %}" class="thumb">
			<h1><a href="https://www.linkedin.com/in/%E6%98%9F%E5%B2%91-%E6%9E%97-26a621ba/" target="_blank">林星岑</a></h1>
	  		<p>招商银行 - 管理培训生</p>
                <p>公司位置：中国 四川 成都</p>
		</article>

         	<article class="white-panel">
			<img src="{% static "images/team2.jpg" %}" class="thumb">
			<h1><a href="http://www.baidu.com" target="_blank">Title 1</a></h1>
	  		<p>Description dahfaafsaklfhsa fasfisafisoafosaf asfsagasf</p>
                <p>公司位置：中国 四川 成都</p>
		</article>

         	<article class="white-panel">
			<img src="{% static "images/team2.jpg" %}" class="thumb">
			<h1><a href="https://www.linkedin.com/in/allen-xue-b29516b7/" target="_blank">Allen Xue</a></h1>
	  		<p>Senior Information Developer at Symantec</p>
                <p>公司位置：中国 四川 成都</p>
		</article>

         	<article class="white-panel">
			<img src="{% static "images/linkedin/fbc27e6e4edc11e99bea2c4d5453d6fe.jpg" %}" class="thumb">
			<h1><a href="http://www.baidu.com" target="_blank">Allen Wang</a></h1>
	  		<p>丹露成都网络技术有限公司 - CTO</p>
                <p>公司位置：中国 四川 成都</p>
		</article>

         	<article class="white-panel">
			<img src="{% static "images/team2.jpg" %}" class="thumb">
			<h1><a href="https://www.linkedin.com/in/allen-zhang-26ba09116/" target="_blank">Allen Zhang</a></h1>
	  		<p>reseacher at Entalent Consulting</p>
                <p>公司位置：中国 四川 成都</p>
		</article>

         	<article class="white-panel">
			<img src="{% static "images/team1.jpg" %}" class="thumb">
			<h1><a href="https://www.linkedin.com/in/allen-xu-328872103/" target="_blank">甘露</a></h1>
	  		<p>DMall - Software Architect</p>
                <p>公司位置：中国 四川 成都</p>
		</article>

         	<article class="white-panel">
			<img src="{% static "images/team2.jpg" %}" class="thumb">
			<h1><a href="https://www.linkedin.com/in/allen-xu-328872103/" target="_blank">Allen Xu</a></h1>
	  		<p>Chengdu Rui Sheng Enterprise Management Consulting</p>
            <p>公司位置：中国 四川 成都</p>
            <p>个人简介: Welcome to my homepage. I am a headhunting consultant Allen. Mechanical engineering and automation...
</p>

		</article>

         	<article class="white-panel">
			<img src="{% static "images/team2.jpg" %}" class="thumb">
			<h1><a href="https://www.linkedin.com/in/allen-cai-43609699/" target="_blank">Allen Cai</a></h1>
	  		<p>Sr. SW Quality Engineer at Dell EMC</p>
                <p>公司位置：中国 四川 成都</p>
		</article>

         	<article class="white-panel">
			<img src="{% static "images/linkedin/fbd36e5e4edc11e99cd92c4d5453d6fe.jpg" %}" class="thumb">
			<h1><a href="https://www.linkedin.com/in/allen-cai-43609699/" target="_blank">Allen He</a></h1>
	  		<p>四川商通实业有限公司 - Product Director</p>
                <p>公司位置：中国 四川 成都</p>
		</article>

         	<article class="white-panel">
			<img src="{% static "images/team2.jpg" %}" class="thumb">
			<h1><a href="http://www.baidu.com" target="_blank">Allen lai</a></h1>
	  		<p>Description dahfaafsaklfhsa fasfisafisoafosaf asfsagasf</p>
                <p>公司位置：中国 四川 成都</p>
		</article>

         	<article class="white-panel">
			<img src="{% static "images/team2.jpg" %}" class="thumb">
			<h1><a href="https://www.linkedin.com/in/allen-lai-24749b118/" target="_blank">Allen lai</a></h1>
	  		<p>总经理</p>
                <p>公司位置：中国 四川 成都</p>
		</article>

         	<article class="white-panel">
			<img src="{% static "images/team2.jpg" %}" class="thumb">
			<h1><a href="https://www.linkedin.com/in/allen-zhao-3a0b9573/" target="_blank">Allen Zhao</a></h1>
	  		<p>Principal SW at EMC Chengdu COE office</p>
                <p>公司位置：中国 四川 成都</p>
		</article>

         	<article class="white-panel">
			<img src="{% static "images/team2.jpg" %}" class="thumb">
			<h1><a href="https://www.linkedin.com/in/allen-cao-91442a121/" target="_blank">Allen Cao</a></h1>
	  		<p>International Marketing Department en Shenzhen Sunpin Industrial Co.,Ltd.</p>
                <p>公司位置：中国</p>
		</article>


         	<article class="white-panel">
			<img src="{% static "images/linkedin/fbed10de4edc11e99a462c4d5453d6fe.jpg" %}" class="thumb">
			<h1><a href="https://www.linkedin.com/in/allen-lee-019b46142/" target="_blank">Allen Lee</a></h1>
	  		<p>今日头条总部 - KA大客户部</p>
                <p>公司位置：中国</p>
		</article>

         	<article class="white-panel">
			<img src="{% static "images/linkedin/fc9fe61e4edc11e9882f2c4d5453d6fe.jpg" %}" class="thumb">
			<h1><a href="https://www.linkedin.com/in/mikeallen7/" target="_blank">Mike Allen</a></h1>
	  		<p>Senior Manager Product Management at Amazon</p>
                <p>公司位置：美国 大西雅图地区</p>
		</article>

         	<article class="white-panel">
			<img src="{% static "images/team2.jpg" %}" class="thumb">
			<h1><a href="https://www.linkedin.com/in/longallen/" target="_blank">Allen Long</a></h1>
	  		<p>灰狐 huihoo.com</p>
                <p>公司位置：中国 </p>
		</article>

         	<article class="white-panel">
			<img src="{% static "images/linkedin/fcbf06de4edc11e981802c4d5453d6fe.jpg" %}" class="thumb">
			<h1><a href="https://www.linkedin.com/in/allen-lin-422503106/" target="_blank">Allen Lin</a></h1>
	  		<p>专注于互联网高端研发岗位招聘研究</p>
                <p>公司位置：中国 四川 成都</p>
		</article>

         	<article class="white-panel">
			<img src="{% static "images/team2.jpg" %}" class="thumb">
			<h1><a href="https://www.linkedin.com/in/allen-chen-45420245/" target="_blank">Allen Chen</a></h1>
	  		<p>Legal Counsel/ Board Secretary at Boxin Capital (NEEQ: 834395)</p>
                <p>公司位置：中国</p>
		</article>

    </section>
	<footer class="related">
	   <br/> <br/><br/><h3>已经到底了...</h3>
	</footer>
</div>
