{% load static %}
<div>


<div class="content">
    <ul class="news">
        <li>
        	<ul class="col-1">
        		<div class="col-1-1">
                    <a><img src="{% static "images/team2.jpg" %}" class="thumb-2"></a>
                     <form class="form-row-1">
                 <label><input name="Fruit" type="checkbox" value="" />确定 </label>
</form>
                        <a href="#" target="_blank">1111111</a>
        		     <p>&nbsp;&nbsp;456</p>

        		</div>
        	</ul>
        </li>

        <li>
        	<ul class="col-1">
        		<div class="col-1-1">
                    <a><img src="{% static "images/team2.jpg" %}" class="thumb-2"></a>
              <form class="form-row-1">
         <label><input name="Fruit" type="checkbox" value="" />确定 </label>
</form>
                        <a href="#" target="_blank">1111111</a>
        		     <p>&nbsp;&nbsp;456</p>
        		</div>
        	</ul>
        </li>

          <li>
        	<ul class="col-1">
        		<div class="col-1-1">
                    <a><img src="{% static "images/team2.jpg" %}" class="thumb-2"></a>
              <form class="form-row-1">
         <label><input name="Fruit" type="checkbox" value="" />确定 </label>
</form>
                        <a href="#" target="_blank">1111111</a>
        		     <p>&nbsp;&nbsp;456</p>
        		</div>
        	</ul>
        </li>

            <li>
        	<ul class="col-1">
        		<div class="col-1-1">
                    <a><img src="{% static "images/team2.jpg" %}" class="thumb-2"></a>
              <form class="form-row-1">
         <label><input name="Fruit" type="checkbox" value="" />确定 </label>
</form>
                        <a href="#" target="_blank">1111111</a>
        		     <p>&nbsp;&nbsp;456</p>
        		</div>
        	</ul>
        </li>

            <li>
        	<ul class="col-1">
        		<div class="col-1-1">
                    <a><img src="{% static "images/team2.jpg" %}" class="thumb-2"></a>
              <form class="form-row-1">
         <label><input name="Fruit" type="checkbox" value="" />确定 </label>
</form>
                        <a href="#" target="_blank">1111111</a>
        		     <p>&nbsp;&nbsp;456</p>
        		</div>
        	</ul>
        </li>

            <li>
        	<ul class="col-1">
        		<div class="col-1-1">
                    <a><img src="{% static "images/team2.jpg" %}" class="thumb-2"></a>
              <form class="form-row-1">
         <label><input name="Fruit" type="checkbox" value="" />确定 </label>
</form>
                        <a href="#" target="_blank">1111111</a>
        		     <p>&nbsp;&nbsp;456</p>
        		</div>
        	</ul>
        </li>

            <li>
        	<ul class="col-1">
        		<div class="col-1-1">
                    <a><img src="{% static "images/team2.jpg" %}" class="thumb-2"></a>
              <form class="form-row-1">
         <label><input name="Fruit" type="checkbox" value="" />确定 </label>
</form>
                        <a href="#" target="_blank">1111111</a>
        		     <p>&nbsp;&nbsp;456</p>
        		</div>
        	</ul>
        </li>

            <li>
        	<ul class="col-1">
        		<div class="col-1-1">
                    <a><img src="{% static "images/team2.jpg" %}" class="thumb-2"></a>
              <form class="form-row-1">
         <label><input name="Fruit" type="checkbox" value="" />确定 </label>
</form>
                        <a href="#" target="_blank">1111111</a>
        		     <p>&nbsp;&nbsp;456</p>
        		</div>
        	</ul>
        </li>

            <li>
        	<ul class="col-1">
        		<div class="col-1-1">
                    <a><img src="{% static "images/team2.jpg" %}" class="thumb-2"></a>
              <form class="form-row-1">
         <label><input name="Fruit" type="checkbox" value="" />确定 </label>
</form>
                        <a href="#" target="_blank">1111111</a>
        		     <p>&nbsp;&nbsp;456</p>
        		</div>
        	</ul>
        </li>

            <li>
        	<ul class="col-1">
        		<div class="col-1-1">
                    <a><img src="{% static "images/team2.jpg" %}" class="thumb-2"></a>
              <form class="form-row-1">
         <label><input name="Fruit" type="checkbox" value="" />确定 </label>
</form>
                        <a href="#" target="_blank">1111111</a>
        		     <p>&nbsp;&nbsp;456</p>
        		</div>
        	</ul>
        </li>

            <li>
        	<ul class="col-1">
        		<div class="col-1-1">
                    <a><img src="{% static "images/team2.jpg" %}" class="thumb-2"></a>

                        <a>1111111</a>
        		     <p>&nbsp;&nbsp;456</p>
        		</div>
        	</ul>
        </li>

            <li>
        	<ul class="col-1">
        		<div class="col-1-1">
                    <a><img src="{% static "images/team2.jpg" %}" class="thumb-2"></a>

                        <a>1111111</a>
        		     <p>&nbsp;&nbsp;456</p>
        		</div>
        	</ul>
        </li>

            <li>
        	<ul class="col-1">
        		<div class="col-1-1">
                    <a><img src="{% static "images/team2.jpg" %}" class="thumb-2"></a>

                        <a>1111111</a>
        		     <p>&nbsp;&nbsp;456</p>
        		</div>
        	</ul>
        </li>

            <li>
        	<ul class="col-1">
        		<div class="col-1-1">
                    <a><img src="{% static "images/team2.jpg" %}" class="thumb-2"></a>

                        <a>1111111</a>
        		     <p>&nbsp;&nbsp;456</p>
        		</div>
        	</ul>
        </li>

            <li>
        	<ul class="col-1">
        		<div class="col-1-1">
                    <a><img src="{% static "images/team2.jpg" %}" class="thumb-2"></a>

                        <a>1111111</a>
        		     <p>&nbsp;&nbsp;456</p>
        		</div>
        	</ul>
        </li>

            <li>
        	<ul class="col-1">
        		<div class="col-1-1">
                    <a><img src="{% static "images/team2.jpg" %}" class="thumb-2"></a>

                        <a>1111111</a>
        		     <p>&nbsp;&nbsp;456</p>
        		</div>
        	</ul>
        </li>

            <li>
        	<ul class="col-1">
        		<div class="col-1-1">
                    <a><img src="{% static "images/team2.jpg" %}" class="thumb-2"></a>

                        <a>1111111</a>
        		     <p>&nbsp;&nbsp;456</p>
        		</div>
        	</ul>
        </li>

            <li>
        	<ul class="col-1">
        		<div class="col-1-1">
                    <a><img src="{% static "images/team2.jpg" %}" class="thumb-2"></a>

                        <a>1111111</a>
        		     <p>&nbsp;&nbsp;456</p>
        		</div>
        	</ul>
        </li>

            <li>
        	<ul class="col-1">
        		<div class="col-1-1">
                    <a><img src="{% static "images/team2.jpg" %}" class="thumb-2"></a>

                        <a>1111111</a>
        		     <p>&nbsp;&nbsp;456</p>
        		</div>
        	</ul>
        </li>

            <li>
        	<ul class="col-1">
        		<div class="col-1-1">
                    <a><img src="{% static "images/team2.jpg" %}" class="thumb-2"></a>

                        <a>1111111</a>
        		     <p>&nbsp;&nbsp;456</p>
        		</div>
        	</ul>
        </li>

            <li>
        	<ul class="col-1">
        		<div class="col-1-1">
                    <a><img src="{% static "images/team2.jpg" %}" class="thumb-2"></a>

                        <a>1111111</a>
        		     <p>&nbsp;&nbsp;456</p>
        		</div>
        	</ul>
        </li>

            <li>
        	<ul class="col-1">
        		<div class="col-1-1">
                    <a><img src="{% static "images/team2.jpg" %}" class="thumb-2"></a>

                        <a>1111111</a>
        		     <p>&nbsp;&nbsp;456</p>
        		</div>
        	</ul>
        </li>

            <li>
        	<ul class="col-1">
        		<div class="col-1-1">
                    <a><img src="{% static "images/team2.jpg" %}" class="thumb-2"></a>

                        <a>1111111</a>
        		     <p>&nbsp;&nbsp;456</p>
        		</div>
        	</ul>
        </li>

            <li>
        	<ul class="col-1">
        		<div class="col-1-1">
                    <a><img src="{% static "images/team2.jpg" %}" class="thumb-2"></a>

                        <a>11112221</a>
        		     <p>&nbsp;&nbsp;456</p>
        		</div>
        	</ul>
        </li>

         <li>
        	<ul class="col-1">
        		<div class="col-1-1">
                    <a><img src="{% static "images/team2.jpg" %}" class="thumb-2"></a>

                     <a>11112221</a>



        		     <p>&nbsp;&nbsp;456</p>
        		</div>
        	</ul>
        </li>

         <li>
        	<ul class="col-1">
        		<div class="col-1-1">
                    <a><img src="{% static "images/team2.jpg" %}" class="thumb-2"></a>

                        <a>11112221</a>
        		     <p>&nbsp;&nbsp;456</p>
        		</div>
        	</ul>
        </li>


    </ul>
</div>
        <input type="hidden" id="start_page">
        <input type="hidden" id="current_page" />
        <input type="hidden" id="show_per_page" />
        <input type="hidden" id="end_page">
<!-------------------------------------------分页----------------------------------------------------------------->
<div id="pageGro" class="cb">
    <div class="pagestart">首页</div>
	<div class="pageUp">上一页</div>
    <div class="pageList">
        <ul>
            <li>1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
            <li>5</li>
        </ul>
    </div>
    <div class="pageDown">下一页</div>
    <div class="pageend">尾页</div>
</div>
</div>