<div>


    <section id="gallery-wrapper-2">
        <article class="white-panel-2">
            <a href="https://www.cityofallen.org/" target="_blank">Allen, TX - Official Website | Official Website</a>
            <p>Allen Public Library Get Inspired · Parks & Recreation Stay Active in Allen · Trash & Recycling
                Schedule & Information · Water Conservation Water Restrictions.
            </p>
        </article>
        <article class="white-panel-2">
            <a href="https://www.onlinetestseries.in/allenkota/" target="_blank">Online Test Series by ALLEN Kota for
                Pre-Engineering, Pre-Medical ...</a>
            <p>Welcome to ALLEN's OnlineTestSeries India's #1 Mock Test Practice platform for Pre-Engineering,
                Pre-Medical and Pre-Nurture Foundation Exams. Get Started.
            </p>
        </article>
        <article class="white-panel-2">

            <a href="https://www.allens.to/" target="_blank">Allen's | Toronto, ON | (416) 463-3086</a>
            <p>Opened in 1987, the restaurant has achieved near-institutional status, as its bar - featuring 340
                whiskies, over 100 VQA wines and 140 beers, and dining room ...
            </p>
        </article>
        <article class="white-panel-2">

            <a href="https://www.lilyallenmusic.com/" target="_blank">Lily Allen - No Shame</a>
            <p>Your browser does not currently recognize any of the video formats available. Click here to visit our
                frequently
                asked questions about HTML5 video.</p>
        </article>
        <article class="white-panel-2">

            <a href="https://www.allencollege.edu/" target="_blank">Allen College</a>
            <p>Allen College has a tradition of more than 90 years of excellence in healthcare education. Allen College
                students may enroll in the following degree programs: ...</p>
        </article>
        <article class="white-panel-2">

            <a href="#" target="_blank">Title 6</a>
            <p>Description 6

            </p>
        </article>
        <article class="white-panel-2">

            <a href="#" target="_blank">Title 7</a>
            <p>Description 7</p>
        </article>
        <article class="white-panel-2">

            <a href="#" target="_blank">Title 8</a>
            <p>Description 8</p>
        </article>
        <article class="white-panel-2">

            <a href="#" target="_blank">Title 9</a>
            <p>Description 9</p>
        </article>
        <article class="white-panel-2">

            <a href="#" target="_blank">Title 10</a>
            <p>Description 10</p>
        </article>
        <article class="white-panel-2">

            <a href="#" target="_blank">Title 11</a>
            <p>Description 11</p>
        </article>
        <article class="white-panel-2">

            <a href="#" target="_blank">Title 12</a>
            <p>Description 12</p>
        </article>
        <article class="white-panel-2">

            <a href="#" target="_blank">Title 13</a>
            <p>Description 13</p>
        </article>
        <article class="white-panel-2">
            <a href="#" target="_blank">Title 14</a>
            <p>Description 14</p>
        </article>
        <article class="white-panel-2">

            <a href="#" target="_blank">Title 15</a>
            <p>Description 15</p>
        </article>
    </section>
    <footer class="related">
        <h3>已经到底了...</h3>
    </footer>


</div>