{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title></title>

    <link rel="stylesheet" href="{% static "css/user_center.css" %}">
    <link rel="stylesheet" href="{% static "css/lrtk.css" %}">
    <link rel="stylesheet" href="{% static "css/public.css" %}">
    <script src="{% static "js/jquery.min.js" %}"></script>
    <script src="{% static "js/lrscroll.js" %}"></script>
    <script src="{% static "js/jquery_flexslider.js" %}"></script>


</head>
<body>

<div class="wrap-1">
    <div class="col-1">&nbsp;&nbsp;基本信息</div>

    <table>
        <tr>
            <td class="123"><a class="list-group-item">
                <span>姓名:</span>
            </a>
            </td>
            <td><a class="list-group-item">
                <span>热比娅——斯达飞</span>
            </a>
            </td>
            <td><a class="list-group-item">
                <span>国籍:</span>
            </a>
            </td>
            <td><a class="list-group-item">
                <span>美国</span>
            </a>
            </td>
        </tr>

        <tr>
            <td><a class="list-group-item">
                <span>种族/肤色:</span>
            </a>
            </td>
            <td><a class="list-group-item">
                <span>黄色</span>
            </a>
            </td>
            <td><a class="list-group-item">
                <span>出生年月：</span>
            </a>
            </td>
            <td><a class="list-group-item">
                <span>1985-11-3</span>
            </a>
            </td>
        </tr>

        <tr>
            <td><a class="list-group-item">
                <span>工作单位：</span>
            </a>
            </td>
            <td><a class="list-group-item">
                <span>射击教练</span>
            </a>
            </td>
            <td><a class="list-group-item">
                <span>宗教</span>
            </a>
            </td>
            <td><a class="list-group-item">
                <span>无</span>
            </a>
            </td>
        </tr>

        <tr>
            <td><a class="list-group-item">
                <span>争议：</span>
            </a>
            </td>
            <td><a class="list-group-item">
                <span>全国射击大赛因伤退赛</span>
            </a>
            </td>
            <td><a class="list-group-item">
                <span>职业</span>
            </a>
            </td>
            <td><a class="list-group-item">
                <span>射击运动员</span>
            </a>
            </td>
        </tr>

        <tr>
            <td><a class="list-group-item">
                <span>出生地：</span>
            </a>
            </td>
            <td><a class="list-group-item">
                <span>加利福尼亚州</span>
            </a>
            </td>
            <td><a class="list-group-item">
                <span>婚姻状况：</span>
            </a>
            </td>
            <td><a class="list-group-item">
                <span>离婚</span>
            </a>
            </td>
        </tr>


        <tr>
            <td><a class="list-group-item">
                <span>性别：</span>
            </a>
            </td>
            <td><a class="list-group-item">
                <span>女</span>
            </a>
            </td>
            <td><a class="list-group-item">
                <span>现居住地：</span>
            </a>
            </td>
            <td><a class="list-group-item">
                <span>阿拉斯加州</span>
            </a>
            </td>
        </tr>

        <tr>
            <td><a class="list-group-item">
                <span>获奖记录：</span>
            </a>
            </td>
            <td><a class="list-group-item">
                <span>全国女子射击大赛一等奖</span>
            </a>
            </td>
            <td><a class="list-group-item">
                <span>facebook账号:</span>
            </a>
            </td>
            <td><a class="list-group-item">
                <span>shejidafsf@fda.com</span>
            </a>
            </td>
        </tr>
    </table>
</div>
<div class="wrap-2">
    <div class="col-1">&nbsp;&nbsp;人物图像采集</div>


    <div id="featureContainer">
        <div id="feature">
            <div id="block">
                <div id="botton-scroll">
                    <ul>
                        <li>
                            <div class="box"><img alt=Paracletos src="{% static "images/1.jpg" %}" width=240 height=450>
                            </div>
                        </li>
                        <li>
                            <div class="box"><img alt="Natural Touch Soap" src="{% static "images/11.jpg" %}" width=240
                                                  height=450></div>
                        </li>
                        <li>
                            <div class="box"><img alt="LRTK" src="{% static "images/team4.jpg" %}" width=240 height=450>
                            </div>
                        </li>
                        <li>
                            <div class="box"><img alt="Natalie Reid" src="{% static "images/team1.jpg" %}" width=240
                                                  height=450></div>
                        </li>
                        <li>
                            <div class="box"><img alt="xixi" src="{% static "images/team2.jpg" %}" width=240 height=450>
                            </div>
                        </li>
                        <li>
                            <div class="box"><img alt="Catherine Sherwood" src="{% static "images/team3.jpg" %}"
                                                  width=240 height=450></div>

                        </li>
                    </ul>
                </div>
            </div>
            <A class="prev">Previous</A><A class=next>Next</A></div>
    </div>
    <div id="wrap"><SPAN id="load">LOADING...</SPAN></div>
</div>
</div></div>

</div>

</div>


<div class="wrap-5">
    <div class="col-1">&nbsp;&nbsp;事件采集</div>


    <div class="about-history" id="fzlc">

        <div class="about-history-list wow zoomIn" data-wow-delay=".4s"
             style="visibility: visible; animation-delay: 0.4s; animation-name: zoomIn;">
            <div class="flex-viewport" style="overflow: hidden; position: relative;">
                <ul class="slides clearfix list"
                    style="width: 100%; transition-duration: 0s; transform: translate3d(0px, 0px, 0px);">
                    <li style="width: 253px; float: left; display: block;">
                        <div class="item">
                            <h3>2017</h3>
                            <div class="desc">
                                <p>
                                    公司进行大项目组改制，深化管理层次，确定项目组责任制与分红制，集团凝聚力更上新的台阶。
                                </p>
                            </div>
                        </div>
                    </li>
                    <li style="width: 253px; float: left; display: block;">
                        <div class="item">
                            <h3>2016</h3>
                            <div class="desc">
                                <p>
                                    公司进行大项目组改制，深化管理层次，确定，集团凝聚力更上新的台阶。
                                </p>
                            </div>
                        </div>
                    </li>
                    <li style="width: 253px; float: left; display: block;">
                        <div class="item">
                            <h3>2015</h3>
                            <div class="desc">
                                <p>公司进行大项目组改制，深化管理层次，确定项目组责任制与分红制，集团凝聚力更上新的台阶。</p>
                            </div>
                        </div>
                    </li>
                    <li style="width: 253px; float: left; display: block;">
                        <div class="item">
                            <h3>2014</h3>
                            <div class="desc">
                                <p>公司进行大项目组改制，深化管理层次，确定项目组责任制与分红制，集团凝聚力更上新的台阶。</p>
                            </div>
                        </div>
                    </li>
                    <li style="width: 253px; float: left; display: block;">
                        <div class="item">
                            <h3>2013</h3>
                            <div class="desc">
                                <p>公司进行大项目组改制，深化管理层次，确定项目组责任制与分红制，集团凝聚力更上新的台阶。</p>
                            </div>
                        </div>
                    </li>
                    <li style="width: 253px; float: left; display: block;">
                        <div class="item">
                            <h3>2012</h3>
                            <div class="desc">
                                <p>公司进行大项目组改制，深化管理层次，确定项目组责任制与分红制，集团凝聚力更上新的台阶。</p>
                            </div>
                        </div>
                    </li>
                    <li style="width: 253px; float: left; display: block;">
                        <div class="item">
                            <h3>2011</h3>
                            <div class="desc">
                                <p>公司进行大项目组改制，深化管理层次，确定项目组责任制与分红制，集团凝聚力更上新的台阶。</p>
                            </div>
                        </div>
                    </li>
                    <li style="width: 253px; float: left; display: block;">
                        <div class="item">
                            <h3>2010</h3>
                            <div class="desc">
                                <p>公司进行大项目组改制，深化管理层次，确定项目组责任制与分红制，集团凝聚力更上新的台阶。</p>
                            </div>
                        </div>
                    </li>
                    <li style="width: 253px; float: left; display: block;">
                        <div class="item">
                            <h3>2009</h3>
                            <div class="desc">
                                <p>公司进行大项目组改制，深化管理层次，确定项目组责任制与分红制，集团凝聚力更上新的台阶。</p>
                            </div>
                        </div>
                    </li>
                    <li style="width: 253px; float: left; display: block;">
                        <div class="item">
                            <h3>2008</h3>
                            <div class="desc">
                                <p>公司进行大项目组改制，深化管理层次，确定项目组责任制与分红制，集团凝聚力更上新的台阶。</p>
                            </div>
                        </div>
                    </li>
                    <li style="width: 253px; float: left; display: block;">
                        <div class="item">
                            <h3>2007</h3>
                            <div class="desc">
                                <p>公司进行大项目组改制，深化管理层次，确定项目组责任制与分红制，集团凝聚力更上新的台阶。</p>
                            </div>
                        </div>
                    </li>
                    <li style="width: 253px; float: left; display: block;">
                        <div class="item">
                            <h3>2006</h3>
                            <div class="desc">
                                <p>公司进行大项目组改制，深化管理层次，确定项目组责任制与分红制，集团凝聚力更上新的台阶。</p>
                            </div>
                        </div>
                    </li>
                    <li style="width: 253px; float: left; display: block;"></li>
                </ul>
            </div>
            <ul class="flex-direction-nav">
                <li class="flex-nav-prev"><a class="flex-prev" href="#">&lt;</a></li>
                <li class="flex-nav-next"><a class="flex-next" href="#">&gt;</a></li>
            </ul>
        </div>

    </div>


</div>


<div class="wrap-3">
    <div class="col-2">&nbsp;&nbsp;人物图像采集</div>
</div>

<div class="wrap-4">
    <div class="col-2">&nbsp;&nbsp;人物图像采集</div>
</div>


<script>
    $(function () {
        if ((navigator.userAgent.match(/(phone|pad|pod|iPhone|iPod|ios|iPad|Android|Mobile|BlackBerry|IEMobile|MQQBrowser|JUC|Fennec|wOSBrowser|BrowserNG|WebOS|Symbian|Windows Phone)/i))) {
            //phone
        } else {
            //PC
            $(".about-history-list").flexslider({
                animation: "slide",
                slideshow: false,
                controlNav: false,
                itemWidth: 253,
                itemMargin: 31,
                prevText: "<",
                nextText: ">",
                move: 1
            });
        }
    });
</script>


</body>
</html>

